
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    width: 100%;
    height:100%;
    background-color: hsl(204, 43%, 93%);
}

/* Container */

.container {
    max-width: 1440px;
    font-family: 'Karla';
    font-size: 0.8rem;
    margin: 15% 7.5% auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 15px hsl(218, 22%, 80%);
    overflow: hidden;
}

/* Banners */

.top-banner, .left-banner, .right-banner {
    padding: 8%;
}

.left-banner, .right-banner {
    color: white;
    padding: 7% 8%;
}

h3 {
    font-size: 1rem;
    font-weight: 700;
}

/* Top Banner */

h1 {
    font-size: 1.3rem;
    font-weight: 700;
    color:  hsl(179, 62%, 43%);
}

.top-banner h2 {
    font-size: 0.9rem;
    font-weight: 700;
    color: hsl(71, 73%, 54%);
    padding: 7% 0;
}

.top-banner p {
    color: hsl(218, 22%, 67%);
    line-height: 1.75;
}

/* Left Banner */

.left-banner {
    background-color: hsl(179, 62%, 43%);
}

.monthly-price {
    display: flex;
    align-items: center;
    padding: 7% 0 3%;
}

.amount {
    font-size: 1.9rem;
    font-weight: 700;
}

.per-month {
    opacity: 70%;
    padding-left: 4.5%;
    font-size: 0.95rem;
}

.daily-price {
    font-size: 0.95rem;
    padding-bottom: 10%;
}

button {
    background-color:  hsl(71, 73%, 54%);
    width: 100%;
    border-style: none;
    border-radius: 5px;
    padding: 5.5%;
    font-family: 'Karla';
    font-size: 0.95rem;
    font-weight: 700;
    color: white;
    box-shadow: 0 5px 15px hsl(179, 62%, 35%);
}

button:hover {
    background-color:  hsl(71, 73%, 50%);
    box-shadow: none;
}

/* Right Banner */

.right-banner{
    background-color: hsl(179, 62%, 47%);
}

ul {
    list-style: none;
    line-height: 1.5;
    opacity: 70%;
    padding-top: 7%;
}

/* Footer */

.attribution { 
    font-size: 11px; 
    text-align: center; 
    padding: 10%;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

@media (min-width: 500px) {

    /* Flex Container */

    .container {
        display: flex;
        flex-wrap: wrap;
        margin: 5% 5% 0;
    }

    /* Flex Items */

    .top-banner {
    flex-grow: 0;
    flex-shrink: 0;
    }

    .right-banner, .left-banner {
        flex-basis: 50%;
        align-items: center;
    }

    /* Footer */

    .attribution {
        padding: 5%;
        font-size: 1rem;
    }
}