
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    width: 100%;
    height:100%;
    background-color: hsl(204, 43%, 93%);
}

/* Container */

.container {
    font-family: 'Karla';
    font-size: 0.8rem;
    margin: 15% 7.5% auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 15px hsl(218, 22%, 80%);
}

/* Banners */

.top-banner, .left-banner, .right-banner {
    padding: 10%;
}


/* Top Banner */

h1 {
    font-size: 1.3rem;
    font-weight: 700;
    color:  hsl(179, 62%, 43%);
}

.top-banner h2 {
    font-size: 0.9rem;
    font-weight: 700;
    color: hsl(71, 73%, 54%);
    padding: 10% 0;
}

.top-banner p {
    color: hsl(218, 22%, 67%);
    line-height: 1.8;
}

/* Left Banner */

.left-banner {
    background-color: hsl(179, 62%, 43%);
}

/* Right Banner */

.right-banner{
    background-color: hsl(179, 62%, 47%);
    border-radius: 0 0 5px 5px;
}

/* Footer */

.attribution { 
    font-size: 11px; 
    text-align: center; 
    padding: 10%;
}

.attribution a { color: hsl(228, 45%, 44%); }